.general {
  display:flex;
  flex-direction: column;
  align-items: center;
  height:  100hv; 
  
}

.logpag, .regpag {
  background-color:  #007ea888;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.mensajes {
  background-color:  #007ea89f;
  display:flex;
  flex-direction: column;
  align-items: left;
}





